language: php

php:
    - 5.6
    - 7.0
    - hhvm

branches:
    only: master

before_install:
    - if [[ ! $PHP = hhvm* ]]; then INI_FILE=~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; else INI_FILE=/etc/hhvm/php.ini; fi
    - echo memory_limit = -1 >> $INI_FILE
    - echo session.gc_probability = 0 >> $INI_FILE
    - echo opcache.enable_cli = 1 >> $INI_FILE
    - if [[ $PHP = 5.* ]]; then (echo yes | pecl install -f apcu-4.0.11 && echo apc.enable_cli = 1 >> $INI_FILE); fi
    - if [[ $PHP = 7.0 ]]; then (echo yes | pecl install -f apcu-5.1.5 && echo apc.enable_cli = 1 >> $INI_FILE); fi
    - cat $INI_FILE | grep apc
    - phpenv config-rm xdebug.ini
    - composer self-update

install:
    - composer install --prefer-source --optimize-autoloader

script:
    - bin/benchmark --iteration 100
    - bin/benchmark --horizontal-complexity 4 --iteration 100
    - bin/benchmark --vertical-complexity 4 --iteration 100
    - bin/benchmark --horizontal-complexity 4 --vertical-complexity 4 --iteration 100
